.allproducts {
  display: flex;

  &__s-one {
    margin-right: 10px;

    @media (max-width: 650px) {
      margin-right: 0;
    }
  }

  &__s-two {
    width: 37%;
    flex-shrink: 0;

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.top-it {

  &__logo-list {
    margin-bottom: -10px;
  }
}

.s-one {


  &__img {
  }
}

.unlime {
  padding-left: 10px;
  padding-right: 10px;

  &__header {
    background-color: $c-dark-orange;
    margin: -9px -10px 11px;
    padding: 10px 15px 11px;
  }

  &__title {
    font-size: 26px;
    color: $c-red-dark;
    margin-bottom: 0px;
    font-family: $ff-title;
    line-height: 1.2;
  }

  &__subtitle {
    color: $c-green;
    font-size: 18px;
    margin-bottom: 0px;
  }

  &__p {
    margin-bottom: 10px;

    &:nth-of-type(1) {
      color: $c-red-dark;
    }
  }

  &__box-img-list {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      justify-content: center;
    }
  }

  &__img {
    max-width: 180px;
    width: 50%;
  }

  &__list {
    list-style-type: decimal;
    padding-left: 20px;
    max-width: 180px;
    width: 50%;
  }

  &__item {
    margin-bottom: 8px;

    a {

    }
  }
}


.vendor-prod {

  .link {
  }

  &__list-1 {
  }

  &__item-1 {
    margin-bottom: 17px;

    h3 {
      font-weight: bold;
    }
  }

  &__list-2 {
    column-count: 3;

    @media (max-width: $md) {
      column-count: 2;
    }
    @media (max-width: $sm) {
      column-count: 1;
    }
  }

  &__item-2 {
    color: #2e5eb6;
    margin-left: 15px;
    list-style-type: disc;
    margin-bottom: 6px;
  }
}
