.study {

  &__list {
    font-size: 13px;
    //list-style-type: decimal;
    //padding-left: 25px;
  }

  &__item {
    margin-bottom: 7px;
  }

  &__link {
  }
}

.pagination {
  border-top: 1px solid $c-hr-lite-grey;
  padding-top: 15px;
  text-align: right;
  margin-top: 15px;
}
