// fonts
$ff-title: "Arial", Helvetica, sans-serif;
$ff-main: "Arial", Helvetica, sans-serif;
$ff-nav: "Arial", Helvetica, sans-serif;

$fsz-main: 12px;
$fsz-h1: 26px;
$fsz-subtitle: 18px;

// colors
$c-main: #333;
$c-main-lite: rgba(71, 76, 88, 0.7);

$c-title-dark: #043260;
$c-title-light: #0467bf;

$c-link-dark: #0c5fa6;

$c-hr-lite-grey: #dcdcdc;

$c-orange: #FDF1CD;
$c-dark-orange: #fde295;
$c-lite-green: #4c8d00;
$c-green: #136603;
$c-sky-blue: #257ccd;
$c-lite-blue: #f1f7fd;
$c-red: #b8292f;
$c-red-dark: #661603;

// screen size
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 400px;
$ssm: 350px;
